Django==4.2.16
django-environ==0.11.2
djangorestframework
django-cors-headers
psycopg2-binary==2.9.9
gunicorn
whitenoise
Pillow
django-filter
drf-yasg
django-rest-passwordreset
celery==5.3.6
redis==5.0.1
daphne==4.1.2
